.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;

}

.about .left p{
    margin: 1.2rem 0;


}
.about .right{
    max-width: 700px;
}
.right .img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.right .img{
    max-width: 90%;
    border: 1px solid #333;

}
.right .top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}
.right .bottom{
    grid-column: 4 /-1;
    grid-row: 1;
    
    z-index: 5;
}

.edu{
    color: fff;
    padding: 2rem;
    margin: 0;
}
.edu .timeline .checkpoint .h2{
    color: #fff;
}

.title{
    text-align: center;
}
.timeline{
    margin: 5em auto;
    max-width: 34.15em;
}
.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;

}
.checkpoint div{
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
}
.checkpoint p{
    line-height: 27px;
    color: #ccc;
    
}

.checkpoint:nth-child(odd){
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}
.checkpoint:nth-child(even){
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.checkpoint:nth-child(odd)::before{
    left: 0;

}
.checkpoint:nth-child(even)::before{
    right: 0;
}
.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}

@media(max-width:1150px){
    .timeline{
        width: 80vw;

    }
    .timeline .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timeline .checkpoint::before{
   width: 3px;
   height: 4em;
   top:-2em;
   left: 50%;
   transform: translateX(-50%);
}
.timeline .checkpoint div::before{
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
}
}